.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: lightblue;*/
  background-image: url("../images/0065.jpg");
  background-attachment: fixed;
  background-position: 0 -500px;
  height: 50vh;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
